.result {
  height: 70px;
  width: 100%;
  background-color: darkgrey;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.btn {
  display: block;
  background-color: lightgray;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
